.password_change{
    
    position: absolute;
    top: 217px;
    left: 366px;

}
.Overallpage{
    position: absolute;
    top: 115px;
    padding: 360px 50px 50px 800px;
    background-color: white;
    left: 12%;
}
.heading_old{
    position: relative;
    top: -109px;
    left: 310px;
}
.heading_newpass{
    position: relative;
    top: -136px;
    left: 311px;

}
.newpassword_change{
    position: absolute;
    top: 345px;
    left: 366px;
}
.Change_button{
    position: relative;
    margin-left: -59px;
    margin-top: 15px;
    background-color: green !important;

}
.change_headingtop{
    position: absolute;
    top: 42px;
    left: 64%;
}
.Change_backimg{
    width: 55%;
    position: absolute;
    left: 1%;
    top: 12%;

}
.close_button{
    position: absolute;
    background-color: #e9f0ea;
    left: 76%;
    top: 440px;
    color: black !important;
}
.close_button:hover{
   background-color:#e9f0ea ;
}
.oldpassword_control{
    display: block;
    width: 100%;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    appearance: none;
    border-radius: 0.375rem;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    position: relative;
    top: -108px;
    left: 140%;
}
.newpassword_control{
    display: block;
    width: 100%;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    appearance: none;
    border-radius: 0.375rem;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    position: relative;
    top: -136px;
    left: 140%;
}
.Confirm_control{
    display: block;
    width: 100%;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    appearance: none;
    border-radius: 0.375rem;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    position: relative;
    left: -43%;
    top: -51px;


}
.heading_confirmpass{
    position: relative;
    top: -47px;
    left: -124px;
}