.tableStl {
    font-size: 10px;
    position: absolute;
    margin-top: 3%;
    background-color: #EDF4F2;
    left: 110px;
    border-radius: 5px;
    overflow: hidden;
    padding: 0px 0px 115px 0px;
}

.Profile_radius{
    width: 78px;
    height:78px;
    border-radius: 50px;
}
.Profile_edit{
    position:relative;
    width:100%;
    height:100%;
}
.image_edit{
    position: relative;
    width:20%;
    height:20%;
    top: 0px;

}
.deleted {
    cursor: pointer;
}
/* .page-item {
    background-color: #9d989e;
    border-color: black;
    border-radius: 25px;
} */
.pagination {
    display: flex;
    position: absolute;
    top: 468px;
    left: 68%;
    justify-content: center;
    padding: px;
    border-radius: 25px;
    color: black !important;
}
.pagiantion_selected {
    background-color: white !important;
    color: black !important;
}
.page-pre {
    color: black;
    background-color: green;
}
.page-active {
    color: black;
    background-color: #7bc3ed;
}
.pagination-item {
    padding: 0 12px;
    height: 32px;
    text-align: center;
    margin: auto 4px;
    color: rgba(0, 0, 0, 0.87);
    display: flex;
    box-sizing: border-box;
    align-items: center;
    letter-spacing: 0.01071em;
    border-radius: 16px;
    line-height: 1.43;
    font-size: 13px;
    min-width: 32px;
    background-color: #9d989e;
}
.page-list {
    display: flex;
    position: absolute;
    top: 520px;;
    left: 65%;
    justify-content: center;

}
.Page-Disable {
    opacity: 0;
}

.nav-pagination {
    border-radius: 30px;
    
}

.btnStatus{
    background-color: green;
}

.css-5ryogn-MuiButtonBase-root-MuiSwitch-switchBase.Mui-checked+.MuiSwitch-track {
    background-color: rgb(17, 184, 83) !important;
}
.css-1yjjitx-MuiSwitch-track {
   
    background-color: #eb2334!important;
 
}

.button {
    position: absolute;
    top:4%;
    left: 1016px;
    background-color:#3fa6eb;
    color: #fff;
    border:none; 
    border-radius:10px; 
    padding:15px;
    min-height:30px; 
    min-width: 120px;
  }
.button:hover {
    background-color:#5ee0b1;
    color: black;
    transition: 0.7s;           
} 
.fullscreen-image{
    border-radius: 50px !important;
}
.nav-pagination li {
    display: flex;
    float: left;
    color: #f2f2f2;
    background-color: #003152;
    text-align: center;
    padding: 0px 10px;
    list-style: none;
    font-size: 21px;
    border-radius: 25px;
}
.userliststl{
    position: relative;
    top: 25px;
}
.loading_style{
   
   color: white;
   position: fixed;
   margin-top: 20%;
   margin-left: 45%;
}
.loader {
    position: absolute;
    margin-top: 16%;
    margin-left: 43%;
    border: 10px solid #EAF0F6;
    border-radius: 50%;
    border-top: 10px solid #5173ed;
    width: 70px;
    height: 70px;
    animation: spinner 4s linear infinite;
  }
  
  @keyframes spinner {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }
  .lines_border{
    border-bottom: 2px solid #003152;
    position: relative;
    top: 8px;
}  
.listing_head{
    background-color:aquamarine;
    padding: 10px;
}
.Exportbtn{
    position: absolute;
    top: 13px;
    left: 85%;
    background-color: green !important;
}
.userlistpagination{
    cursor: pointer;
}
/* .dropdown-menu{
    position: absolute ;
    inset: auto 0px 0px auto ;
    transform:translate(24px, 135px) !important;

} */

.custom-dropdown .nav-link {
    color: black;
  }
  .custom-dropdown .nav-link:hover{
    color: black;
  }  
.AddUsers{
    position: absolute;
    top: 5px;
    left: 76%;
}  
.Export_btn{
    position: relative;
    top: -60px;
    border: none !important;
}
.userRcord_heading{
    padding: 10px;
    background-color: #4a9aa9;
}
.record_subhead{
    margin-left: 35px;
    color: white;
}
.record_backicon{
    position: absolute;
    top: 10px;
    color: #4a9aa9 ;
    left: 10px;
    cursor: pointer;
    background-color: #EDF4F2 ;
    border-radius: 20px;
}