.LeaveRequest_page{
    position: absolute;
    top: 126px;
    padding: 0px 0px 150px 0px;
    background-color: white;
    left: 340px;
    border-radius: 5px;
    width: 55%;

}
.form_styl{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}
.loader_permission {
    position: absolute;
    margin-top: 16%;
    margin-left: 43%;
    border: 10px solid #EAF0F6;
    border-radius: 50%;
    border-top: 10px solid #5173ed;
    width: 110px;
    height: 110px;
    animation: spinner 4s linear infinite;
  }
/* .form-control{
    position: relative;
    left: 10px;
} */
/* .Emloyeeid_stl{
    position: relative;
    left: 295px;
    top: -62px;

} */
/* .Email_stl{
    position: relative;
    top: -42px;
} */
/* .mobile_stl{
    position: relative;
    top: -103px;
    left: 15px;
} */
/* .leave_style{
    position: relative;
    top: -117px;
    width: 234%;
    left: 15px;
} */
.leaveDrop{
    
    width: 100%;

}
/* .fromday_stl{
    position: relative;
    top: -98px;
    left: 15px;
} */
/* .Today_stl{
    position: relative;
    top: -72px;
    left: 14px;
} */
/* .LeaveForm_adjust{
    position: relative;
    left: -10px;
} */
/* .commends_syl{
    position: relative;
    top: -65px;
    width: 235%;
    left: 15px;
} */
.Requestbtn{
    /* position: relative;
    top: -23px;
    left: 75px; */
    background-color: #4a9aa9;
    border: none !important;
}
/* .heading_leave{
  
    position: relative;
    top: -137px;
    left: 47px;



} */
