.main_page {
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  /* height: 100vh; */
  position: absolute;
  top: 130px;
  width: 100%;
  height: 100%;
}

.Overalla_success {
  display: flex;
  justify-content:space-evenly;
  color: white;
}

.img-size {
  width: 90px;
  height: 65px;
}
.Home_padding{
  padding: 40px 123px;
  background-color: #003152;
  border: 4px solid white;
  width: 110px;

}
.centered-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
}




