.Summary_style{
    /* position: absolute;
    margin-top: 5%;
    padding: 10% 91% 25% 1%;
    background-color: aliceblue;
    margin-left: 26px;
    overflow: auto; */
    position: absolute;
    background-color: aliceblue;
    overflow: hidden;
    width: 80%;
    top: 161%;
    left: 10%;
    padding: 0px 0px 275px 0px;
}
.UserFilter{
    width: 8%;
    /* position: fixed;
    top: 196px;
    left: 251px; */
}
#container, #pinkDiv, #yellowDiv {
    overflow: auto;
    overflow: auto;
    /* position: absolute; */
    width: 92%;
  }
  
 
.summaryYear_Selt {
    height: 35px;
    width: 95px;
    background-color: #36ad5c !important;
    color: white;
    font-size: 14px;
    /* position: fixed;
    top: 196px;
    left: 400px; */
}
.userwiseYear_dropdown{
    height: 35px;
    width: 95px;
    background-color: #36ad5c !important;
    color: white;
    font-size: 14px;
    /* position: fixed;
    top: 196px;
    left: 250px; */
}
.yearly_dropdown{
    width: 8%;
    /* position: fixed;
    top: 196px;
    left: 7%; */

}
.tabledata{
    position: relative;
    top: 30px;
    left: 17px;
    overscroll-behavior-x: contain;
}

.backIcon{
    
    position: absolute;
    top: 9px;
    color: white;
    left: 11px;
    cursor: pointer;
    background-color: #2e75b5 ;
    border-radius: 20px;
}
.popup_month{
    cursor: pointer;
   
}
.popup_month:hover{
    text-decoration-color: white;
    text-decoration-line: underline ;
}
/* .year_submitbtn{
    height: 35px;
    width: 95px;
    background-color: #36ad5c !important;
    color: white;
    font-size: 14px;
    position: absolute;
    top: 65px;
    left: 12%;;
} */
.DoneIcon{
    color: #69c96c;
}
.AbsentIcon{
    color: #de7d76;
}
.OffIcon{
    color: #f7f379;
}
.report_subhead{
    margin-left: 35px;
}
.report_heading{
    padding: 10px;
    background-color: #16b1cc;
}