.message_wrapper {
  margin-top: 0px;
  padding: 0px 10px;
}
.message_wrapper img {
  width: 100%;
  border-radius: 5px;
  height: 210px;
}
.message_wrapper p {
  padding: 5px 42px 12px 8px;
  display: inline-block;
  max-width: 50%;
  text-align: left;
  word-wrap: break-word;
  overflow-wrap: break-word;
  font-size: 14px;
  position: relative; /* Added for positioning time */
}

.message_wrapper .me small {
  display: inline-block;
  margin-top: 5px;
  opacity: 0.8;
  font-size: 10px;
  position: absolute;
  bottom: 0px;
  right: 1px;
}
.message_wrapper .friend small {
  display: inline-block;
  margin-top: 5px;
  opacity: 0.8;
  font-size: 10px;
  position: absolute;
  bottom: 0px;
  right: 10px;
}


.message_wrapper.own {
  text-align: right;
}

.me {
  background-color: #daf8e3; 
  padding: 10px;
  border-radius: 20px 0px 20px 20px; 
  max-width: 50%;
  align-self: flex-end; 
}

.friend {
  background-color: #f1f0f0; 
  padding: 10px;
  border-radius: 0px 20px 20px 20px;
  max-width: 50%;
  align-self: flex-start;
}
