.message_form {

  position: absolute;
    bottom: 0;
    left: 0%;
    width: 100%;
    height: 56px;
    display: flex;
    align-items: center;
    background-color: #f0f2f5;
}
.message_form input {
    width: 52vw;
    margin: 10px 0px 10px 25px;
    padding: 8px;
    border-radius: 5px;
    outline: none;
    border: none;
    background-color: #ffffff;
}
.message_form .btn {
  margin-top: -10px;
}
.attachment_upload{
    position: relative;
    left: 5px;
}
.sendIcon {
    color: #5e5b8e;
    cursor: pointer;
    margin-left: 10px;
    
  }